<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="floating">Email or username</ion-label>
      <ion-input type="username" [(ngModel)]="user.email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">password</ion-label>
      <ion-input type="password" [(ngModel)]="user.password"></ion-input>
    </ion-item>
    <ion-button (click)="login()">Login</ion-button>
    <ion-button>reset password</ion-button>
    <ion-button>forget password</ion-button>
  </ion-list>
</ion-content>