<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Create Form Template</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Form Title</ion-label>
    <ion-input type="text" [(ngModel)]="form.title"></ion-input>
  </ion-item>

  <ion-list>
    <ion-list-header>
      Fields
    </ion-list-header>
    <ion-reorder-group [disabled]="true" (ionItemReorder)="handleReorder($any($event))">
      <ion-item-group *ngFor="let field of form.fields; index as i">
        <ion-item-divider>
          <ion-label>Field {{i+1}}</ion-label>
          <ion-reorder slot="end"></ion-reorder>
        </ion-item-divider>
        <ion-item>
          <ion-label>Field Label</ion-label>
          <ion-input value="text" placeholder="text" [(ngModel)]="field.label"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Field Type</ion-label>
          <ion-select [(ngModel)]="field.type" placeholder="Field Type">
            <ion-select-option value="date">Date</ion-select-option>
            <ion-select-option value="time">Time</ion-select-option>
            <ion-select-option value="text">Text</ion-select-option>
            <ion-select-option value="checkbox">Check Box</ion-select-option>
            <ion-select-option value="attachment">Upload Attachment</ion-select-option>
            <ion-select-option value="signature">Signature</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-button color ='danger'(click)="removeField(i)">
            <ion-icon name="trash"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-item-group>
    </ion-reorder-group>
  </ion-list>
  <ion-button (click)="addField()">Add Field</ion-button>
  <ion-button (click)="saveForm(form)">Save Template</ion-button>
</ion-content>